@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h2 class ="text-danger">Model Errors</h2>
<div class="table-responsive-xxl">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Value
                </th>
                <th>
                    Errors
                </th>
                <th>
                    Raw value
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var curModelError in Model.ModelErrors)
            {
                <tr>
                    <td>
                        @curModelError.ValidationState
                    </td>
                    <td>
                        @string.Join(
                            "; ",
                            curModelError.Errors
                                .Select(x => x.ErrorMessage));
                    </td>
                    <td>
                        @curModelError.RawValue
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
    It can result in displaying sensitive information from exceptions to end users.
    For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    and restarting the app.
</p>
