@using DanceCompetitionHelper.Database.Enum
@using DanceCompetitionHelper.Database.Tables
@using DanceCompetitionHelper.Database.Extensions
@using DanceCompetitionHelper.Web.Helper.Configuration

@* SubByOrg.cshtml *@
@model Dictionary<OrganizationEnum, Dictionary<Guid, Dictionary<Guid, Dictionary<Guid, ConfigurationValue>>>>

@{
    var originCompetitionId = (ViewData["OriginCompetitionId"] as Guid?);
    var curKey = (ViewData["curKey"] as string);
    // 0
    var byKey = Model;
    // var byKeyAndOrg = (ViewData["byKeyAndOrg"] as Dictionary<Guid, Dictionary<Guid, Dictionary<Guid, ConfigurationValue>>>) ?? new Dictionary<Guid, Dictionary<Guid, Dictionary<Guid, ConfigurationValue>>>();
    // 2
    var allConfigKeysBy = (ViewData["allConfigKeysBy"] as CompetitionVenueDisplayHelper);
    var allOrgs = (ViewData["allOrgs"] as List<OrganizationEnum>) ?? new List<OrganizationEnum>();
    // 4
    var compsById = (ViewData["compsById"] as Dictionary<Guid, Competition>) ?? new Dictionary<Guid, Competition>();
    var allCompIds = (ViewData["allCompIds"] as List<Guid>) ?? new List<Guid>();
    // 6
    var compClassesById = (ViewData["compClassesById"] as Dictionary<Guid, CompetitionClass>) ?? new Dictionary<Guid, CompetitionClass>();
    var allCompClassIds = (ViewData["allCompClassIds"] as List<Guid>) ?? new List<Guid>();
    // 8
    var compVenuesById = (ViewData["compVenuesById"] as Dictionary<Guid, CompetitionVenue>) ?? new Dictionary<Guid, CompetitionVenue>();
    var allCompVenueIds = (ViewData["allCompVenueIds"] as List<Guid>) ?? new List<Guid>();
    // 10
    var useAllOrgs = allOrgs
        .Where(
            x => byKey.ContainsKey(x))
        .ToList();            

    if (string.IsNullOrEmpty(curKey)
        //
        || allConfigKeysBy == null
        //
        || useAllOrgs.Count <= 0)
    {
        return;
    }
}

@foreach (var curOrg in allOrgs)
{
    if (byKey.TryGetValue(
        curOrg,
        out var byKeyAndOrg) == false)
    {
        continue;
    }

    <table class="table table-striped table-hover table-bordered m-0 p-0 table-primary"> <!-- SubByOrg start -->
        <thead>
            <tr>
                <th>
                    @curOrg
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-nowrap align-bottom">
                    @{
                        var curItem = allConfigKeysBy.Get(
                            curKey,
                            curOrg);

                        if(curItem != null)
                        {
                            @Html.EditorFor(
                                m => curItem,
                                new
                                {
                                    OriginCompetitionId = originCompetitionId,
                                    CompetitionsById = compsById,
                                    CompetitionClassesById = compClassesById,
                                    CompetitionVenuesById = compVenuesById,
                                })
                        }
                    }
                </td>

                @{
                    var useAllComps = allCompIds
                        .Where(
                            x => byKeyAndOrg.ContainsKey(x)
                            || x == Guid.Empty)
                        .ToList();

                    if (useAllOrgs.Count >= 1)
                    {
                        <td class="align-bottom p-0"> <!-- SubByOrg - SubByOrgAndComp start -->
                            @await Html.PartialAsync(
                                "SubByOrgAndComp",
                                byKeyAndOrg,
                                new ViewDataDictionary(
                                    ViewData)
                                {
                                    { "curOrg", curOrg },
                                    // 10
                                    { "useAllOrgs", useAllOrgs },
                                })
                        </td> <!-- SubByOrg - SubByOrgAndComp end -->
                    }
                }
            </tr>
        </tbody>
    </table> <!-- SubByOrg end -->
}
